/.idea/sonarlint/issuestore/2/6/268b09d2a5cdab7d148f0ec91f7b3fb51601410d
/.idea/sonarlint/issuestore/4/3/438c56474209176629917f1aaaac4e1cf31f765e
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/target/classes/org/example/App.class
/target/test-classes/org/example/AppTest.class
/target/classes/META-INF/BuilderPattern.kotlin_module
/.idea/sonarlint/issuestore/f/a/fa9b0816a23c850a21e35fd1f3cb41b7a7c52fbe
/.idea/sonarlint/issuestore/index.pb
/target/classes/org/example/User/User$1.class
/target/classes/org/example/User/User$UserBuilder.class
/target/classes/org/example/User/User.class
